.Home {
    text-align: center;
    width: 100%;
    align-items: center;
    padding-top: 2%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(81, 148, 194, 1) 100%);
    display: flex;
    flex-direction: column;
}

.TitlePane {
}

.ContentPane {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 45%;
}

.Logo {
    width: 30%;
}

.Paragraph {
    color: #385c84;
    text-align: justify;
}

.Header {
    color: white;
    font-size: 40px;
    margin-top: 5%;
}

.Introduction {
    display: flex;
    color: #385c84;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    align-items: center;
}

.Introduction div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.Introduction p {
    /* width: 70%; */
    text-align: justify;
    margin: 2%;
}

.ProfilePicture {
    height: 100px;
    border-radius: 50px;
}

.Signature {
    width: 100px;
    margin: 2%;
}

.Subtitle {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    font-size: 30px;
    text-align: center;
}

.ContactPane {
    display: flex;
    color: white;
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    bottom: 0%;
}

.ProjectsPane {
    width: 100%;
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 150px 150px 150px;
}

.ProjectsPane > * {
    margin: .25em .25em;
}

.ProjectItem {
    width: 98%;
    height: 98%;
    transition: transform .2s;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ProjectItemTitle {
    display: flex;
    position: absolute;
    height: 15%;
    width: 100%;
    left:  0%;
    color: white;
}

.ProjectItemTitle p {
    height: 100%;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    text-align: start;
    background-color: white;
    color: black;
    font-weight: 500;
}

.ProjectItemTag {
    text-align: end;
    margin:0%;
    height: 15%;
    margin: 5%;
    color: white;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.ProjectItem:hover {
    transform: scale(1.01);
}

.ProjectDetailsPane {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ProjectTitle {
    width: 50%;
    font-size: 40px;
    margin: 0%;
    top: 5%;
    left: 5%;
    position: absolute;
    color: white;
    text-align: left;
}

.ProjectDate {
    width: 40%;
    font-size: 30px;
    margin: 0%;
    top: 20%;
    left: 5%;
    position: absolute;
    color: white;
    text-align: left;
}

.ProjectDescription {
    width: 90%;
    bottom: 5%;
    left: 5%;
    position: absolute;
    color: white;
    text-align: left;
    margin: 0%;
}

.ProjectThumbnailList {
    display: flex;
    flex-direction: column;
    height: 70%;
    position: absolute;
    margin: 2%;
    top: 0%;
    right: 0%;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.ProjectThumbnail {
    width: 80%;
    height: 80px;
}

.ProjectDetailsView {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    margin-bottom: 2%;
    position: relative;
    transition:background-image .2s;
    
}

.ProjectDetailsView > * {
    transition:all .3s;
 }

.SkillsPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillsPane p {
    margin: .25em .25em;
}

.SkillItem {
    margin: 0%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    width: fit-content;
    font-weight: 500;
}

.ReferencesPane {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.ReferenceItem {
    margin-bottom: 10%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.ReferenceItem div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.ReferenceItem p {
    margin: 1%;
    color: white;
}

.ReferenceItem img {
    width: 100px;
    height: 100px;
}

.ContactSectionPane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    align-items: flex-start;
}

.ContactSectionTitle {
    font-size: 25px;
    padding-bottom: 2%;
    margin: 0%;
}

.ContactSectionLabel {
    font-size: 15;
    margin: 1%;
}

.LinkLabel {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LinkLabel img {
    margin-right: 10%;
    height: 60%;
}

.BuyMeACoffeeButton {
    border: none;
    background-color: #00000000;
    margin-top:15px;
    width: 40%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

