.Home {
    height: 100%;
    text-align: center;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 0%, rgba(0, 0, 0, 0) 75%);
    display: flex;
    flex-direction: column;
    transition: background-color .2s;
    padding: 2%;
}

.TitlePane {
    width: 50%;
    display: flex;
    margin-bottom: 2%;
}

.ContentPane {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Logo {
    width: 20%;
}

.Paragraph {
    color: #385c84;
    text-align: justify;
    width: 45%;
}

.Introduction {
    display: flex;
    color: #385c84;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
    align-items: center;
}

.Introduction div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.Introduction p {
    /* width: 70%; */
    text-align: justify;
    margin: 2%;
}

.ProfilePicture {
    height: 100px;
    border-radius: 50px;
}

.Signature {
    width: 100px;
    margin: 2%;
}

.Subtitle {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    font-size: 30px;
    text-align: left;
}

.ContactPane {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ContactLayout {
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
}

.SkillsPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillsLayout {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillsPane p {
}

.SkillItem {
    margin: 0.5%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    width: fit-content;
    font-weight: 500;
}

.ReferencesPane {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.ReferenceItem {
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.ReferenceItem div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ReferenceItem p {
    margin: 1%;
    font-size: 11px;
    color: white;
}

.ReferenceItem img {
    width: 100px;
    height: 100px;
}

.ContactSectionPane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    align-items: flex-start;
}

.ContactSectionTitle {
    font-size: 25px;
    padding-bottom: 2%;
    margin: 0%;
}

.ContactSectionLabel {
    font-size: 15;
    margin: 1%;
}

.LinkLabel {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.LinkLabel img {
    margin-right: 10%;
    height: 60%;
}

.LinkLabel a {
    color: white;
    text-decoration: none;
}

.BuyMeACoffeeButton {
    border: none;
    background-color: #00000000;
    margin-top:15px;
    width: 40%;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

