.Button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: #6797cd;
    color:white;
    border-width: 0;
    border-radius: 15px;
}

.ImageButton {
    align-content: center;
    flex-direction: column;
    width: 150px;
    height: 200px;
}

.ImageButton img {
    width: 100%;
}

.HexagonalPanel {
    position: relative;
    width: 500px;
    height:500px;
}

.HexagonalPanelCell {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:50%;
}